footer
    .background-footer
        background-image: url(../images/footer_background.jpg)
        background-size: cover
        position: relative

        .row
            .col-4
                h4
                    color: white
                    margin-bottom: 30px
                    
                p
                    color: white
                i
                    color: white
                    font-size: 20px

                h4
                    

                    
                button
                    background-color: #B12A3B 
                    border: solid 1px white
            
    .footer-rose
        background-color: #B12A3B  
        padding: 40px 