body
    margin: 0
    
    header
        position: relative
    
    
    .navbar // rewrite class bootstrap
        position: absolute
        z-index: 1
        @media screen and (max-width:620px)
            z-index: auto
        ul
            .li
                list-style: none
            
            .navbar-brand:    
                text-transform: uppercase       
            .navbar-brand:hover
                color: red
            
        
    .carrousel-1
        position: relative
        
             
    .image1
        background-image: linear-gradient(rgba(0.5, 0.5, 0.5, 0.5),rgba(0.8, 0.8, 1, 0.5)), url(../images/banner1.jpg)
        height: 90vh
        background-repeat: no-repeat
        background-size: cover

        h1
            padding-top: 20%
            color: white
            text-transoform: uppercase
            font-size: 50px
            font-family: "courgette"
        span
            color: #B12A3B
        button
            border-radius: 30px
            padding:  15px 30px
            margin: 10px
            text-transform: uppercase
        button
            &:nth-of-type(1)
                color: black
                background-color: white
        button
            &:nth-of-type(2)
                background-color: #B12A3B
                color: white    
    .buttrond
        border-radius: 50% !important
        height: 20px !important
        width: 20px !important
        color: white
    img[alt="image-banner"]
        filter: brightness(30%)
    .biscuit
        background-image: url(../images/bottom_decoration_img.png)
        background-repeat: repeat-x
        width: 100%
        height: 15px
        top: 98%
        position: absolute
        
        
    
    
    
        
   
                
                   
            
        
            
        

    
      




           
        

       


          
                
                
                    
        

   
                    
            
               
              


                        
                    

            

  
        
    
    
    

             

                  





                          
    
                    
           
        

            
            
                
                
         
              
              
              
                
                      
                