body
    margin: 0
    header
        position: relative
    
    
    .navbar // rewrite class bootstrap
        position: absolute
        z-index: 1
        // top: 150px
        li
            a:hover
                 color: red    
        
        
    .carrousel-1
        position: relative
        
             
    .image1
        background-image: linear-gradient(rgba(0.5, 0.5, 0.5, 0.5),rgba(0.8, 0.8, 1, 0.5)), url(../images/banner1.jpg)
        height: 100vh
        background-repeat: no-repeat
        background-size: cover
        h1
            padding-top: 20%
            color: white
            text-transoform: uppercase
            font-size: 50px
            font-family: "courgette"
        span
            color: #B12A3B
        button
            border-radius: 30px
            padding:  15px 30px
            margin: 10px
            text-transform: uppercase
        button
            &:nth-of-type(1)
                color: black
                background-color: white
        button
            &:nth-of-type(2)
                background-color: #B12A3B
                color: white    
    .buttrond
        height: 15px
        width: 15px
        border-radius: 50%
        
        
        




           
        

       


          
                
                
                    
        

   
                    
            
               
              


                        
                    

            

  
        
    
    
    

             

                  





                          
    
                    
           
        

            
            
                
                
         
              
              
              
                
                      
                