section
    &:nth-of-type(4)
        
        background-image: linear-gradient(to right,#130c0cf1,#523e1fea),url(../images/testimonials_background.jpg)    
        background-size: cover
        position: relative
        
        h1
            font-family: "courgette"
            font-size:50px
            color: white
            span
                color: #B12A3B
        .row
            .col-6    
                img
                    margin: 15px
                .clients
                    border: solid 1px white
                    border-radius: 10px
                    // padding: 10px
                    
                    h4
                        color: white
                    span
                        color: #B12A3B
                    p
                        color: white           
    .our-contact
        background-image: url(../images/main_bg.jpg)
        position: relative
        height: 100vh
        justify-content: center
        top: 20px
        h1
            color: black
            font-family: "courgette"
            margin-top: 5%
        img[alt="decoration_line"]
            margin-left: 30%
        .box-rouge
            border-radius: 15px
            background-color: #B12A3B
            i
                font-size: 40px
                margin: 10px
             
            
        